* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    max-width: 100%;
}

.navbar{
    padding: 10px;
    max-width: 100%;
    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    position: relative;
    z-index: 1;
}

.navbar .atas-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .atas-nav .item ul li {
    list-style-type: none;
}

.navbar .atas-nav .item a:hover {
    background: linear-gradient(90deg, #06BFFF 35%, #2D73FF 100%);

}

.navbar .atas-nav .item a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
    border: 2px solid white;
    background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
    border-radius: 3px;
    box-shadow:  0 0 4px #000;
    padding-right: 10px;
    padding-left: 10px;
}

.atas-nav .judul h1{
    text-transform: uppercase;
    color: white;
}






.bawah-f {
    position: absolute;
    padding: 5px;
    width: 100%;
    bottom: 0;
    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: center;
    z-index: 2;
}

.bawah-f .terbawah .kredit p {
    color: white;
}








.aside-a {
    position: fixed;
    align-items: center;
    left: 0;
    top: 0;
    color: white;
    max-width: 250px;
    height: 85%;
    margin-top: 92px;
    padding: 10px;
    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    z-index: 0;
}

.aside-a .aside-dalam img {
    object-fit: cover;
    width: 100%;
    height: 180px;
}

.aside-a .aside-dalam {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 2px solid ;
    background: linear-gradient(90deg, rgba(46, 64, 83, 0.4) 50%, rgba(46, 64, 83, 0.1) 76.39%);
    border-radius: 15px;
    box-shadow: 1px 1px 5px black;
}

.aside-a .aside-dalam .aside-teks h1 {
    margin-top: 2px;
    margin-bottom: 0;
}
.aside-a .aside-dalam .aside-teks{
    text-align: center;
}

.aside-a .aside-dalam .aside-teks p{
    margin-top: 0;
    margin-bottom: 0;
    
}









.main-a {
    display: flex;
    max-width: 100%;
    justify-content: center;
    margin-left: 250px;
    flex-wrap: wrap;
    align-items: center;
}

.main-a .main-b {
    display: grid;
}

.main-a .main-b h1 {
    margin-bottom: 0px;
}

.main-a .main-b .sama {
    margin-top: 0px;
    margin-bottom: 0px;
}

.main-a .main-b .kontak-saya {
    margin-top: 20px;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
    padding: 10px;
    width: 300px;
    max-width: 100%;
    border-radius: 10px;
    display: grid;
    background: linear-gradient(160deg, rgba(46, 64, 83, 0.4) 0%, rgba(46, 64, 83, 0.1) 76.39%);
}

.main-a .main-b .kontak-saya h3 {
    margin-left: 5px;
}

.main-a .main-b .kontak-saya .isi-kontak{
    max-width: 100%;
    display: flex;
    align-items: center;
}

.main-a .main-b .kontak-saya .isi-kontak a {
    margin-left: 5px;
    text-decoration: none;
    color: black;
}

.main-a .main-b .kontak-saya .isi-kontak a:hover{
    color: white;
    text-decoration: underline;
    color: #2D73FF;
}

.main-a .main-b .kontak-saya .isi-kontak img {
    object-fit: cover;
    max-width: 50px;
    max-height: 50px;
    margin-left: 5px;
}

.kontak-saya .form-kontak input{
    height: 30px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
    max-width: 100%;
}

.form-kontak {
    margin-top: 5px;
}

.kontak-saya .form-kontak textarea{
    width: 100%;
}

.main-a .main-b .pendidikan ul li {
    list-style-type: none;
}

.main-a .main-b .pendidikan p {
    margin-bottom: 0;
    margin-top: 0;
}

.main-a .main-b .pendidikan h4 {
    margin-bottom: 5px;
    margin-top: 12px;
}