*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    height: 100%;
    background-color: #FFFFFF;
}



.formlogin {
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
    padding: 15px;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    background: linear-gradient(160deg, rgba(46, 64, 83, 0.4) 0%, rgba(46, 64, 83, 0.1) 76.39%);
    margin-top: 40px;
    margin-bottom: 20px;
}

.formlogin .isform input{
    height: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
}

.formlogin textarea {
    height: 40px;
    width: 100%;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
}
.formlogin label {
    display: block;
    margin-top: 5px;
}

.formlogin .isform button {
    margin-top: 15px;
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
    padding: 10px;
    font-size: 20px;
}

.formlogin .isform {
    /* display: flex;
    justify-content: center; */
    width: 100%;
}